*{
    margin:0;
    padding:0;
    overflow:hidden;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
    /* display:flex; */
    justify-content:space-around; 
     align-content:space-around;
   
}

body{
    height:100vh;
    width:100vw;
    background-color:#edf1fd;
    display:flex;
    flex-direction:column;
    justify-content: space-between;


}
li
{
    list-style:none;
    cursor: pointer;
}
a{
    text-decoration: none;
}
button{
    background-color:rgb(18,155,155);
    padding: 4px 10px;
    cursor: pointer;
    color:white;
    border:1px solid white;
    border-radius :5px;
    font-weight:600;
    width:fit-content;
    
}
button:hover{
    background-color: white;
    color:black;
    border:1px sloid black;

}
nav{
    display:flex;
    width:100%;
    align-items: center;
    justify-content:space-around ;
}
nav .logo{
    font-weight: 700;
    font-size:30px;
}

nav ul{
    display:flex;
    align-items: center;
    gap:30px;
    font-weight: 500;
    
}
nav ul li{
    color:gray;
}
nav ul li:hover{
    text-decoration-color:grey;
    text-decoration: underline;
    font-weight: 900;

}
.search-fueld{
    display: flex;
    gap:35px;
}

input{
    padding: 4px;
}
.hero-section{
    display: flex;
    align-items: center;
}
.hero-section-left h1{
font-size:40px;
margin-bottom:20px;
font-weight: 700;
}

.hero-section-left h1 span{
    color:rgb(18,155,155);
    font-weight: 900;
    font-size: 2.5rem;

}
.hero-section-left p{
    font-weight: 500;
}

.hero-section-left p span{
    font-weight: 700;
    color:rgb(18,155,155);
    font-size:25px;
    

}
.hero-section-right{
    display:flex;
    flex-direction:column;
    width:40%;
    align-items:center;
    justify-content:center;
    
}
.hero-section-right-btns{
    display:flex;
    align-items: center;
    gap:30%;

}
.hero-section-right img{
    height:300px;
    width:300px;
    border-radius:50%;
}
footer{
    display:flex;
    align-items:center;
    padding:20px 0;
    justify-content:space-around;

}
footer p{
    font-weight:600;
}
footer ul{
    display:flex;
    gap:30px;
    align-items:center;
}

footer ul li a i:hover{
    color:rgb(18,155,155);
    cursor: pointer;
}

