/* universal selector */
*{
    margin:0;
    padding: 0;
}
/* Element selector */
h1{
    color:#808081;
}
p{
    color:red;
}
/* class selector */
.pw{
    color:rgb(9, 204, 107);
}

.hello{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* id selector */
#pw1{
    color:black;
    background-color:aqua;
}
/* selector list */
class1,class2,class5{
    
}
